/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.topimage {
  margin-left: -15px;
  max-width: 75%;
  padding-bottom: 30px;
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
}
.header {
  max-width: 75%;
  height: 100px;
}

.toppart {
  margin-top: 30px;
}

.middlewidth {
  max-width: 57.8%;
  border: 1px solid gray;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.navbarspace {
  margin-left: 10px;
}

.neg-margin-top {
  margin-top: -20px;
}

.under-image {
  max-width: 57.8%;
}

.heart-img {
  height: 25px;
  widows: 25px;
}

.bottompart {
  max-width: 57.8%;
  height: 100px;
  padding-left: 15px;
}
